.bg-neavy-blue {
  background-color: #2f2f43;
}

.jaw-navbar{
    padding: 0%;
}
.nav-link {
    color: white;
    text-decoration: none;
}
.navbar .nav-link.active {
    background-color: #5d5d84;
}

.container-fluid {
    margin: 0%;
}

.jaw-content {
    padding-right: 10px;
    padding-left: 10px;
}